@font-face {
	font-family: 'Neon Glow';
	src: url(https://assets.codepen.io/230569/NeonGlow-8VLz.ttf);
}

* {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

html {
	background-color: #101010;
	box-sizing: border-box;
}

main {
	align-items: center;
	display: flex;
	justify-content: center;
	min-height: 100vh;
}

#gasses {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	> * {
		margin: 2rem;
	}
}

.gas {
	--blur: 1.75rem;
	--box-blur: calc(0.5 * var(--blur));
	--glow: var(--color);
	--size: 12rem;

	align-items: center;

	color: var(--color, white);
	display: inline-flex;
	flex-direction: column;
	font-family: system-ui, sans-serif;
	height: var(--size);
	justify-content: space-around;
	padding: 1rem;
	width: var(--size);

	> * {
		margin: 0;
		padding: 0;
	}

	.number {
		font-weight: 700;
	}

	.symbol {
		font-size: 4rem;
		font-family: 'Neon Glow';
		text-shadow: 0 0 var(--blur) var(--glow);
	}

	&.he {
		--color: #fceaac;
		filter: saturate(175%);
	}
	&.ne {
		--color: #fda802;
		filter: brightness(110%);
	}
	&.ar {
		--color: #e555c7;
		filter: brightness(125%);
	}
	&.kr {
		--color: #b7e7f7;
		filter: saturate(200%);
	}
	&.xe {
		--color: #ffffff;
		filter: brightness(105%);
	}
}
