/* styles.css */
body {
	min-height: 90vh;
	background-color: black;
	/* width: 100vw; */
}

header {
	background-color: #000000;
	color: #000000;
	padding: 1em;
	text-align: center;
}

.nav {
	display: flex;
}

.nav ul {
	margin: 0;
	padding: 0;
	display: flex;
}

.nav li {
	margin-right: 10px;
}

.nav a {
	color: #000000;
	text-decoration: none;
}

footer {
	color: #fff;
	padding: 10px;
	text-align: center;
}
